[flake8]
max-line-length = 79
import-order-style = google
application-import-names = aspis
ignore = E731
exclude = .git, __pycache__, pyproject.toml, build/*
include = neurozip/*
plugins = flake8-import-order
per-file-ignores =
  __init__.py: F403, F401